.FAQ{
    padding: 5%;
    padding-top: 3%;
    font-family: 'Poppins', sans-serif;
    background-color: #efffe5;
}
.FAQ .Header{
    text-align: center;
    font-weight:bolder;
    text-decoration: underline;
}
.div1{
    padding: 10px;
    padding-bottom: 7px;
    margin-bottom: 2.5px;
}
#add{
    font-size: 1.5em;
    font-weight: bolder;
    padding-right: 10px;
}
.div1_1,.div2_1,.div3_1,.div4_1,.div5_1,.div6_1{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 40%;
    padding: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.div1_2,.div2_2,.div3_2,.div4_2,.div5_2,.div6_2{
    padding-left:10px ;
    background-color: #def9cd;
    padding: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
}
